.container {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    

}

a {
    margin-left: 20px;
    text-decoration-style:wavy;
    text-decoration-color: rgba(246, 186, 8, 0.801);
}
a.active {
    font-size: x-large;
    color: rgb(127, 163, 238);
    
  }