/**
 * Author: Pernilla Stalbring Solino-Moreno
 * Date: Jun 2023
 *
 * This file is for css my Sitelayout page.
 */
.header{
    height: 100px;
    background-image: url(bok_3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: larger;

}

header > h1 {
    color:rgb(250, 209, 3);
    font-size: 50px;
   
}

.content-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    font-family: Roboto;
}
nav > Link{
    float: left;
}
